$white: white;


// TEXT COLOR
.text-main{
    background: linear-gradient(90deg, #762DB6 0%, #9352D6 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-greenGradient{
    background: #27AE60;
    background: linear-gradient(to right, #27AE60 0%, #2ECC71 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// BACKGROUND
.bg-main{
    background: rgb(118,45,182);
    background: linear-gradient(103deg, rgba(118,45,182,1) 47%, rgba(147,82,214,1) 100%);
    color: $white;

    &:hover{
        color: $white;
    }
}

.outline-main{
    border: 1px solid #9352d6;
    background: linear-gradient(90deg, #762DB6 0%, #9352D6 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// ANIMATION
@keyframes sky {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, 20px);
    }

    50% {
        transform: translate(20px, 0);
    }

    75% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}