$main: red;
$yellow: #FAFF10;


// TEXT COLOR
.text-yellow{
    color: $yellow !important;
}

// ANIMATION
@keyframes sky {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, 20px);
    }

    50% {
        transform: translate(20px, 0);
    }

    75% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}