@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif;
}

body {
    background: rgb(19,25,50);
background: linear-gradient(328deg, rgba(19,25,50,1) 0%, rgba(9,10,11,1) 100%);

    // background: rgb(29,44,59);
    // background: linear-gradient(302deg, rgba(29,44,59,1) 0%, rgba(9,10,11,1) 100%);

    // background: rgb(6,6,43);
    // background: linear-gradient(115deg, rgba(6,6,43,1) 0%, rgba(50,10,136,1) 100%);

    // background: rgb(37,6,57);
    // background: linear-gradient(153deg, rgba(37,6,57,1) 0%, rgba(41,7,63,1) 100%);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #666;
}

::-webkit-scrollbar-thumb {
    background: #232323;
}

// BAHAN
.break {
    clear: both;
}

.form-group {
    margin-bottom: 20px;
}

// ROUTER VIEW ANIMATION
.route-enter-from {
    opacity: 0;
}

.route-enter-active {
    transition: all 0.3s ease-out;
}

.route-leave-to {
    opacity: 0;
}

.route-leave-active {
    transition: all 0.3s ease-in;
}

// RESET DEFAULT
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #ccc;
    box-shadow: 0 0 0 #ccc inset, 0 0 0 #ccc;
    outline: 0 none;
}

.fp-watermark{
    display: none;
}